/* --- Global style --- */ 
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
  }

body {
    margin : 0 !important;
    font-family: Montserrat;
    overflow-x: hidden !important;
}

body, header {
    flex-direction: column;
}

/* --- General layout styles --- */
section {
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    font-family: Montserrat ;
    font-size: 17px;
    font-weight: 600;
}

.column {
    flex: 1;
    padding: 20px;
}

.text-align-plr {
    text-align: center;
    padding: 0 25%;
    line-height: 1.7;
}

.pt-15 {
    padding-top: 15px;
}

.pt-30 {
    padding-top: 30px;
}


/* --- Home page container --- */
/* Styling Background image of Home page */
.background-image {
    width: 100%;
    height: 1100px;
    background: url('../images/home-background-pic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background-light {
    height: 100%;
    background: #00000033;
    position: absolute;
    width: 100%;
}

/* --- Logo --- */
.logo {
    padding-top: 15px;
}

header, .container {
    position: relative;
    display: flex;
    gap: 10px 10px;
    text-align: center;
}

/* --- Navigation bar --- */
.navbar {

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 3px;
}

li {
    float: left;
}

/* --- Style the hyperlinks within the navbar --- */
li a:hover {
    color: #333;
}

li a {
    display: block;
    color: rgb(224, 224, 224);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.active {
    color: #fff;
}

.line {
    height: 1px;
    background-color: #DADADA;
}

/* --- Style the content for the header section --- */
.header-container {
    margin-left: 20%;
    padding-top: 275px;
}

.header-column {
    max-width: 60%;
    text-align: left;
}

.h1 {
    font-size: 50px;
    color: #FFFFFF;
}

.p-header {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.5;
}

.mt-35 {
    margin-top: 35px;
}

/* --- Style signup button (in all pages) --- */
.signup-button, .start-now-button {
    background-color: #1A1A1A;
    padding: 12px 32px;
    color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
    border: 0;
}

.signup-button:hover {
    background-color: #3a3a3a;
    padding: 12px 32px;
    color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
}

/* --- Style the "What We Do" section --- */
section, .skill-content {
    max-width: 65%;
    margin: auto;
}

.sub-heading {
    font-size: 30px;
    text-align: center;
    padding: 0 25%;
    line-height: 1.7;
}

.skill-content  p {
    color: #1a1818;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}

/* --- Style the "review (band)" section --- */
.band {
    background: linear-gradient(90deg, rgba(42,44,44,1) 0%, rgba(12,12,12,1) 100%);
    height: 373px ;
    overflow: hidden;
    box-sizing: unset !important;
}

.band p {
    color: white;
    text-align: left;
    line-height: 1.5;
}

.band span {
    color: white;
}

.band > .container {
    max-width: 55%;
    margin: auto;
}

div h3 {
    color: white;
}

.quotation {
    Font-family: PlayfairDisplay ;
    Font-size: 100px !important;
    margin-bottom: -60px;
    margin-top: 50px ;
}

.round-img {
    border-radius: 50%;
}

.pt-band {
    padding-top: 80px;
}

.text-align {
    text-align: center;
    font-family: montserrat;
}

.left-text-aling {
    text-align: left;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 14px;
}

.white-txt {
    color: white;
}

/* --- Style the "Popular classes" section --- */
.price {
    font-weight: 600;
    font-size: 20px;
}

.lesson-title {
    font-weight: 400;
}

.book-now {
    text-decoration: none;
    color: #0060b9;
    font-size: 14px;
}

.plr-35 {
    padding: 0 35px;
}

.non-padding {
    padding: 0px !important;
    margin: 0px !important;
}

/* --- Style "Newsletter" section --- */
.newsletter {
    background: #e6e6e6;
}

.newsletter > .container {
    max-width: 60%;
    margin: auto;
}

.padding-top-50 {
    padding: 44px 0 25px 0;
}

.nl-lable {
    color: #535353;
    font-size: 16px;
    line-height: 21px;
}

.nl-title {
    color : #1A1A1A;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
}

/* --- Newsletter subscription input --- */
form.subscribe input[type=text] {
    padding: 18px 30px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    border-radius: 8px 0 0 8px;
    font-size: 14px;
}

form.subscribe button {
    width: 30%;
    padding: 18px;
    background: #1A1A1A;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    border-left: none;
    border-radius: 0 8px 8px 0;
}

form.subscribe button:hover {
    background: rgb(57, 57, 57);
  }
  
form.subscribe::after {
    clear: both;
    display: table;
  }

input:focus { 
    outline: none !important;
    border: 1px solid grey !important;
 }

/* --- Footer --- */
.footer {
    background-color: #000000;
 }

.footer > .container {
    max-width: 60%;
    margin: auto;
}

.pb-footer {
    padding-bottom: 60px;
 }

.sx-size {
    font-size: 14px;
    line-height: 1.7;
}

.icon-pb {
    padding-bottom: 3px;
 }

 .footer-menu {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 3;
 }

.footer-sec-tit {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 4;
    font-weight: bold;
 }

/* --- Google Maps --- */
iframe {
    border:0;
    overflow:hidden;
    background:none!important;
    border-radius: 10px 10px;
    border:0;
    margin:0;
 }

 /* --- Copyright Notice --- */
.copyright {
    background-color: #000000;
    color: #fff;
    font-size: 12px;
 }



/* --- Learn page container --- */
/* Styling Background image of learn page */
.background-learn {
    width: 100%;
    height: 1100px;
    background: url('../images/learn-background-pic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* --- See all button that link to all courses --- */
.white-button {
    background-color: #ffff;
    padding: 12px 32px;
    color: #1A1A1A;
    border-radius: 8px;
    text-decoration: none;
}

.white-button:hover {
    background-color: #999999;
    padding: 12px 32px;
    color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
}

/* --- Learn page's content --- */
.col-learn {
    display: flex;
    width: 59%;
    margin: 40px auto;
    flex: 1;
    flex-wrap: wrap;
    align-content: space-around;
}

.item-learn {
    margin: 0 19px;
    flex: 1;
}

.h1-row {
    font-weight: 600;
    text-align: left;
}

.p-row {
    font-size: 14px;
    text-align: left;
    line-height: 1.6;
}

 .learn-plr {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 50px;
}



/* --- Sign up page container --- */
/* Styling Background image of Sign up page */
.background-signup {
    width: 100%;
    height: 1100px;
    background: url('../images/home-background-pic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background-popup-light {
    height: 100%;
    background: #00000080;
    position: absolute;
    width: 100%;
}

/* --- Style the Form in the header of the page --- */
.form-container {
    width: 30%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 40px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-weight: 700;
    font-size: 22px;
}

.input-title {
    font-weight: 600;
    font-size: 16px;
}

.mt-custom {
    margin-top: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* --- input field for email address and password --- */
input[type="email"], input[type="password"] {
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #b9b8b8;
    width: 282px;
    height: 40px;
    padding-left: 7px;
}

::placeholder {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    color: #6A6A6A;
}

/* --- Style select list, for user's date of the birth --- */
select[name="month"] {
    background: #FFFFFF;;
    border: 1px solid #b9b8b8;
    border-radius: 5px;
    width: 120px;
    height: 30px;
}

select[name="day"], select[name="year"]{
    background: #FFFFFF;
    border: 1px solid #b9b8b8;
    border-radius: 5px;
    height: 30px;
    width: 70px;
}

.flex-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.select {
    font-size: 12px;
    font-family: 'Montserrat';
    padding-left: 7px;
}

/* --- Sign up button --- */
.sign-up-btn-margin {
    margin-top: 60px;
}

.sign-up-btn:hover {
    background: #797777;
}

/* --- Radio input and checkbox --- */
.checkbox-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 12px;
}

.flex-start-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
}

.checkbox-gap {
    gap: 30px;
}

.improve-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.select-improve-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

/* --- 404 page container --- */
/* Styling Background image of 404 page */
.background-404 {
    width: 100%;
    height: 1100px;
    background: url('../images/404-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.error-404 {
    font-size: 100px;
}



/* Media quearies for making the pages responsive in different devices */

@media only screen and (max-width: 1780px) {
    /* Column container in Learn page */
    .col-learn {
        width: 64% !important;
    }
    /* Form container in Sign-up page */
    .form-container {
        width: 35% !important;
    }
}

@media only screen and (max-width: 1600px) {
    .col-learn {
        width: 75% !important;
    }

    .form-container {
        width: 35% !important;
    }
}

  @media only screen and (max-width: 1300px) {
    .col-learn {
        flex-direction: column !important;
        width: 45% !important;
    }

    .form-container {
        width: 42% !important;
    }

    /* Google maps in footer */
    iframe {
        width: 380px;
    }

    .plr-35 {
        padding: 0 !important;
    }

    .pb-footer {
        padding-bottom: 0 !important;
    }

    .quotation {
        margin-top: 10px;
    }

    /* Imange of poses in Learn page */
    .image-poses {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1200px) {
    .col-learn {
        flex-direction: column !important;
    }

    .form-container {
        width: 50% !important;
    }

    section , .skill-content {
        max-width: 100%;
        margin: auto;
    }
    .newsletter > .container {
        max-width: 90%;
        margin: auto;
    }

    .image-poses {
        margin-top: 30px;
    }
}

  @media only screen and (max-width: 1000px) {
    iframe {
        width: 210px;
    }
  }

@media only screen and (max-width: 900px) {
    .header-column {
        max-width: 80%;
    }

    ul {
        padding: 0 ;
        margin: 0;
        font-size: 16px;
    }

    .header-container {
        padding-top: 35px;
    }

    div > .logo {
        padding-top: 20px;
    }

    .container {
        flex-direction: column;
        max-width: 100%;
    }

    .column {
        padding: 7px;
    }

    .start-now-button {
        background-color: #fafafa;
        color: #1A1A1A;
    }

    section , .skill-content {
        max-width: 90%;
        margin: auto;
    }

    .band {
        height: 530px;
    }

    .quotation {
        margin-top: 0;
    }
    
    .pt-band {
        padding-top: 15px;
    }

    .text-align-plr {
        padding: 0;
    }

    .newsletter {
        background: #e6e6e6;
    }

    .footer > .container {
        max-width: 90%;
        margin: auto;
    }

    iframe {
        width: 255px;
    }

    .h1 {
        font-size: 38px;
    }

    .background-learn, .background-image {
        height: 620px !important;
    }

    .item-learn {
        margin: 0 -40px !important;
    }

    .col-learn {
        flex-wrap: wrap;
        justify-content: space-evenly !important;
        width: 70% !important;
    }

    .image-poses {
        width: 200px;
        margin-top: 30px;
     }

     .form-container {
        width: 67% !important;
    }
}

@media only screen and (min-width: 490px) and (max-width: 600px) {
    .form-container {
        width: 90% !important;
    }
}

@media only screen and (min-width: 290px) and (max-width: 490px) {
    .form-container {
        width: 95% !important;
        margin: 40px auto;
    }

    .background-signup {
        height: 890px !important;
    }

    li a {
        padding: 8px 8px;
    }

    .column {
        padding: 0;
    }

    .band {
        height: 580px;
    }

    .padding-top-50 {
        padding: 20px 0 16px 0;
    }

    .checkbox-btn {
        flex-flow: wrap;
    }
}