html {
    overflow-y: scroll;
}
body, header {
    flex-direction: column;
}

body {
    margin : 0 !important;
    font-family: Montserrat;
    overflow-x: hidden !important;
}

.background-image {
    width: 100%;
    height: 1100px;
    background: url('../images/photo-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    padding-top: 15px;
}

header, .container {
    position: relative;
    display: flex;
    gap: 10px 10px;
    text-align: center;
}

.navbar {

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 3px;
}

li {
    float: left;
}

li a:hover {
    color: #333;
}

li a {
    display: block;
    color: rgb(224, 224, 224);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    color: #fff;
}