html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body, header {
    flex-direction: column;
}

body {
    margin : 0 !important;
    font-family: Montserrat;
    overflow-x: hidden !important;
}

.background-image {
    width: 100%;
    height: 1100px;
    background: url('../images/photo-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    padding-top: 15px;
}

header, .container {
    position: relative;
    display: flex;
    gap: 10px 10px;
    text-align: center;
}

.navbar {

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 3px;
}

li {
    float: left;
}

li a:hover {
    color: #333;
}

li a {
    display: block;
    color: rgb(224, 224, 224);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    color: #fff;
}

.line {
    height: 1px;
    background-color: #DADADA;
}

.header-container {
    margin-left: 20%;
    padding-top: 275px;
}

.header-column {
    max-width: 60%;
    text-align: left;
}

.signup-button {
    background-color: #1A1A1A;
    padding: 12px 32px;
    color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
}

.black-button {
    background-color: #1A1A1A;
    padding: 12px 32px;
    color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
}

.signup-button:hover {
    background-color: #3a3a3a;
    padding: 12px 32px;
    color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
}

.black-button:hover {
    background-color: #3a3a3a;
    padding: 12px 32px;
    color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
}

.h1 {
    font-size: 50px;
    color: #FFFFFF;
}

.p-t {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.5;
}

.mt-35 {
    margin-top: 35px;
}

* {
    box-sizing: border-box;
  }

  .text-align-plr {
    text-align: center;
    padding: 0 25%;
    line-height: 1.7;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.column {
    flex: 1;
    padding: 20px;
}

section, .skill-content {
    max-width: 65%;
    margin: auto;
}

.skill-content  p {
    color: #1a1818;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}

h2 {
    font-family: Montserrat ;
    font-size: 17px;
    font-weight: 600;
}

.band {
    background: linear-gradient(90deg, rgba(42,44,44,1) 0%, rgba(12,12,12,1) 100%);
    height: 373px ;
    overflow: hidden;
    box-sizing: unset !important;
}

.band p {
    color: white;
    text-align: left;
}

.band span {
    color: white;
}

.band > .container {
    max-width: 55%;
    margin: auto;
}

div h3 {
    color: white;
}

.round-img {
    border-radius: 50%;
}

.pt-band {
    padding-top: 80px;
}

.quotation {
    Font-family: PlayfairDisplay ;
    Font-size: 100px !important;
    margin-bottom: -60px;
    margin-top: 50px ;
}

.text-align {
    text-align: center;
    font-family: montserrat;
}

.left-text-aling {
    text-align: left;
}

.pt-15 {
    padding-top: 15px;
}

.pt-30 {
    padding-top: 30px;
}

.white-txt {
    color: white;
}

.sx-size {
    font-size: 12px;
}

.plr-35 {
    padding: 0 35px;
}

.price {
    font-weight: 400;
}

.non-padding {
    padding: 0px !important;
    margin: 0px !important;
}

.lesson-title {
    font-weight: 400;
}

.booking-und {
    text-decoration: none;
    color: #478AC9;
    font-size: 14px;
}

.newsletter {
    background: #e6e6e6;
    height: 300px ;
}

.newsletter > .container {
    max-width: 60%;
    margin: auto;
}

.padding-top-50 {
    padding-top: 50px;
}

.nl-lable {
    color: #535353;
    font-size: 16px;
    line-height: 21px;
}

.nl-title {
    color : #1A1A1A;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
}

form.subscribe input[type=text] {
    padding: 18px 30px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    border-radius: 8px 0 0 8px;
    font-size: 14px;
}

form.subscribe button {
    width: 30%;
    padding: 18px;
    background: #1A1A1A;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    border-left: none;
    border-radius: 0 8px 8px 0;
}

form.subscribe button:hover {
    background: rgb(57, 57, 57);
  }
  
  form.subscribe::after {
    clear: both;
    display: table;
  }

 input:focus { 
    outline: none !important;
    border-color: 1px solid grey !important;
 }

 .footer {
    background-color: #000000;
 }

 .footer > .container {
    max-width: 60%;
    margin: auto;
}

 .pb-footer {
    padding-bottom: 60px;
 }

 .img-pb {
    padding-bottom: 3px;
 }

 .menu-f {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 3;
 }

 .menu-hf {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 4;
    font-weight: bold;
 }


 iframe {
    border:0;
    overflow:hidden;
    background:none!important;
    border-radius: 10px 10px;
    border:0;
    margin:0;
 }

 .copyright {
    background-color: #000000;
    color: #fff;
    font-size: 12px;
 }


 @media only screen and (max-width: 1200px) {
    section , .skill-content {
        max-width: 100%;
        margin: auto;
    }
    .newsletter > .container {
        max-width: 90%;
        margin: auto;
    }
  }

  @media only screen and (max-width: 1300px) {
    iframe {
        width: 380px;
    }
    .plr-35 {
        padding: 0 !important;
    }
    .pb-footer {
        padding-bottom: 0 !important;
    }
    .quotation {
        margin-top: 10px;
    }
  
  }

  @media only screen and (max-width: 1000px) {
    iframe {
        width: 210px;
    }
  }

@media only screen and (max-width: 900px) {
    .header-column {
        max-width: 80%;
    }

    ul {
        padding: 0 ;
        margin: 0;
        font-size: 12px;
    }
    .header-container {
        padding-top: 120px;
    }

    .signup-button {
        background-color: #FFFFFF;
        padding: 12px 32px;
        color: #1A1A1A;
        border-radius: 8px;
        text-decoration: none;
    }
    div > .logo {
        padding-top: 20px;
    }
    .container {
        flex-direction: column;
        max-width: 100%;
    }
    section , .skill-content {
        max-width: 90%;
        margin: auto;
    }

    .band {
        height: 600px;
    }

    .quotation {
        margin-top: -10px;
    }
    .pt-band {
        padding-top: 15px;
    }

    .text-align-plr {
        padding: 0;
    }
    .newsletter {
        background: #e6e6e6;
        height: 600px ;
    }
    .footer > .container {
        max-width: 90%;
        margin: auto;
    }
    iframe {
        width: 255px;
    }

    .col-learn {
        flex-wrap: wrap;
        padding: 0%;
    }

    .learn-first-row, .learn-second-row  {
        
        padding: 0%;
       
    }

    .p-first-row {
        padding: 0 !important;
        
    }
    .p-second-row {
        padding: 0%;
        margin: auto;
    }



    .h1-first-row {
        text-align: left;
        padding: 0;
    }
    .learn-second-row  {
        padding: 0px;
    }
    .h1-second-row {
        padding: 0%;
        font-weight: 600;
        text-align: left;
  }
  .learn-plr {
    padding: 40px 40px;
  }
}


  .background-learn {
    width: 100%;
    height: 1100px;
    background: url('../images/learnpic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.white-button {
    background-color: #ffff;
    padding: 12px 32px;
    color: #1A1A1A;
    border-radius: 8px;
    text-decoration: none;
}

.col-learn {
    display: flex;
}

.item-learn {
    width: 100%;
}

.learn-first-row {
    padding: 70px 0 70px 22%;
}

.learn-second-row {
    padding: 10px 4% 70px 20%;
}

.h1-first-row {
    padding: 60px 60% 30px 0;
    font-weight: 600;
}

.p-first-row {
    font-size: 14px;
    padding: 0 51% 0 7%;
    text-align: left;
}

.p-second-row {
    font-size: 14px;
    padding: 0 1% 0 5%;
    text-align: left;
    margin-bottom: 0%;
}

.h1-second-row {
    padding: 0px 18% 25px 0;
    font-weight: 600;
}

.learn-2image{
    
    padding: 55px 27.5% 125px 0;
 }

 .learn-plr {
    text-align: center;
    padding: 42px 42%;
    line-height: 1.5;
}

.pb-100 {
    padding-bottom: 100px;
}